html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.dhxwin_active{
    z-index: 1005;
    /* margin-left: 10%;
    margin-right: 10%; */
	width: 80%;
    height: 100%;
}
.dhxwin_inactive{
    /* margin-left: 10%;
    margin-right: 10%; */
	width: 80%;
	max-width:100%;
    height: 100%;
}
.dhxwin_brd{
    left:2px;
    top:48px;
    width: calc(100% - 2px);
}
.dhx_cell_wins{
    width: 100%;
}
.dhx_cell_cont_wins{
    left: 0px;
    top: 0px;
    overflow: auto;
    width: calc(100% - 2px);
}
.dhxform_base{
    width: 99%;
}
.dhxform_label{
    width: 40%;
}
.dhxform_control{
    width: 50%;
}
.dhxform_textarea{
    width: 100%;
}
.dhxcombo_material{
    width: 100%;
}
.dhxcombo_input{
    width: 100%;
}
.dhxform_btn{
    left:40%;
    width: 20%;
    text-align: center;
}
/* div.dhx_toolbar_btn.dhxtoolbar_btn_def{
    height: 40px;
    padding-top: 3px;
} */