html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.dhxwin_active{
    z-index: 1005;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 0!important;
    width: 80%!important;
    /* height: 100%!important; */
}
.dhxwin_inactive{
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 0!important;
    width: 80%!important;
    /* height: 100%!important; */
}
.dhxwin_brd{
    left:2px!important;
    top:48px!important;
    width: calc(100% - 2px)!important;
}
.dhx_cell_wins{
    width: 100%!important;
}
.dhx_cell_cont_wins{
    left: 0px;
    top: 0px;
    overflow: auto;
    width: calc(100% - 2px)!important;
}
.dhxform_base{
    width: 99%;
}
.dhxform_label{
    width: 40%!important;
}
.dhxform_control{
    width: 50%!important;
}
.dhxform_textarea{
    width: 100%!important;
}
.dhxcombo_material{
    width: 100%!important;
}
.dhxcombo_input{
    width: 100%!important;
}
.dhxform_btn{
    left:40%;
    width: 20%!important;
    text-align: center;
}
/* div.dhx_toolbar_btn.dhxtoolbar_btn_def{
    height: 40px;
    padding-top: 3px;
} */