@font-face {
  font-family: 'icomoon';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
  url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
  url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
  url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
  url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  src:  url('fonts/icomoon.eot?rbla21');
  src:  url('fonts/icomoon.eot?rbla21#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rbla21') format('truetype'),
    url('fonts/icomoon.woff?rbla21') format('woff'),
    url('fonts/icomoon.svg?rbla21#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

span.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trailersale:before {
  content: "\e900";
}
.icon-trailerentra:before {
  content: "\e901";
}
.icon-tractorsale:before {
  content: "\e902";
}
.icon-tractorentra:before {
  content: "\e903";
}
.icon-ttruck:before {
  content: "\e904";
}
.icon-trailer:before {
  content: "\e905";
}
.icon-image:before {
  content: "\e90d";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-excel:before {
  content: "\eae2";
}
