@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b7ry9v');
  src:  url('fonts/icomoon.eot?b7ry9v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b7ry9v') format('truetype'),
    url('fonts/icomoon.woff?b7ry9v') format('woff'),
    url('fonts/icomoon.svg?b7ry9v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-empleados:before {
  content: "\e905";
}
.icon-tipohabitaciones-4:before {
  content: "\e900";
}
.icon-pngtree-members-glyph-black-icon-png-image_691586:before {
  content: "\e901";
}
.icon-habitaciones:before {
  content: "\e902";
}
.icon-hospedajes:before {
  content: "\e903";
}
.icon-icono-empresa-png-1:before {
  content: "\e904";
}
.icon-usuarios:before {
  content: "\e906";
}
.icon-cliente:before {
  content: "\e908";
}
